.home {
    header {
        height: 40vh;
        width: 100%;
        background-color: purple;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div {
        padding: 10px;
    }

    .carousel {
        margin: 20px;
    }
}