.home {
    header {
        height: 40vh;
        width: 100%;
        background-color: purple;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        color: rgb(51, 51, 255);
        cursor: pointer;
    }

    .carousels-container{
        @media (min-width: 600px) {
            padding: 0 20px 30px;
        }
        padding: 0;
        .isMobile{
            display: inline;
            font-size: 0.7rem;
            margin-left: 10px;
            @media (min-width: 600px) {
                display: none;
            }
        }
        h2{
            margin: 0;
        }
        .carousel-section {
            padding: 20px 0;
            hr{
                margin: 40px 0 0;
            }
        }
        .carousel {
            
            @media (min-width: 600px) {
            margin: 0px 20px;
            }
            margin: 0px;
            
            .slide {
                
                @media (min-width: 600px) {
                padding: 10px;
                }
                padding: 0px;
                display: flex;
                justify-content: center;
            }
            .VueCarousel-pagination{
                display: none;
            }
            .VueCarousel-navigation-button[data-v-453ad8cd] {
                display: none;
                @media (min-width: 600px) {
                    display: block;
                }
            }
        }
        
    }
}