.msg-msg {
  z-index: 10;
  position: fixed;
  left: 0;
  top: -120px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  border-radius: 0 0 15px 0;
  background-color: black;
  color: white;
  font-weight: bold;
  opacity: 0.8;
  padding: 30px;
  transition: 0.8s;
}
.msg-msg.show {
  top: 0px;
}
