.msg-msg {
  z-index: 11;
  position: fixed;
  left: 0;
  top: -120px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  border-radius: 0 0 15px 0;
  background-color: black;
  h3{
    color: $nav-links-color;
    font-weight: bold;
  }
  padding: 30px;
  transition: 0.8s;
}
.msg-msg.show {
  top: 0px;
}
